[user]
  name = Svend Christian Svendsen
  email = svendcs@svendcs.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[difftool]
  prompt = false
[mergetool]
  prompt = false
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[hub]
  protocol = ssh
[push]
	default = simple
[pull]
	default = simple
[alias]
    graph = log --graph --oneline --all
